@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&family=Outfit:wght@400;700&family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,400;1,500&family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;1,100;1,300;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: whitesmoke;
    font-family: 'Overpass', serif;
}

html{
    font-size: 62.5%;
}

header{
    height: 5rem;
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: space-around;
}
nav{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
}
ul{
    display: flex;
    align-items: center;
    width: 70%;
    text-decoration: none;
}
li{
    width: 40%;
    list-style: none;
}
a {
    text-decoration: none;
    color: #362C61;
    font-size: 1.8rem;
    font-size: 900;
}
.brand{
    font-size: 2.1rem;
    font-weight: bold;
    width: 20%;

}
button{
     border-radius: 5px;
     width: 7rem;
     height: 3rem;
     padding: 5px 10px;
    color: whitesmoke;
    cursor: pointer;
}
.btn{
    background-color: #362C61;
}

/* main section */

main{
    display: flex;
    max-width: 55vw; 
}
main img{
    height: 35rem;
    max-width: 52rem;
    border-radius: 5px;
    margin: auto;
    padding: auto;
    display: block;
}
.sectionOne h1{
    font-size: 4rem;
    width: 70%;
    color: #362C61;
}
.sectionOne p{
    font-size: 2rem;
    width: 70%;
    padding: 2.8rem 0;
}
.sectionOne button{
    background-color: #362C61;
}

/* section */
.imgContainer{
    margin-top: 8rem;
}
.imgContainer a{
    text-align: center;
}
.imgCon img{
    width: 30rem;
    border-radius: 10px;
}
.imgCon {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    text-align: center;
}

.imgCon img {
    min-height: 50vh;
    max-width: 90%;
    display: block;
    margin: 15px auto;
}
h2,h3{
    font-size: 2.5rem;
    
}
h3{
    text-align: center;
}
.logo{
    display: none;
}

@media all and (max-width:760px) {
    .sectionOne h1 {
        font-size: 22px;
        text-align: center;
        width: 100%;
    }
    .btn{
        display: none;
    }
    .sectionOne{
        display: flex;
        flex-direction:column ;
        justify-content: center;
        align-items: center;
        min-width: 90vw;
        padding-bottom: 2rem;
    }
    .sectionOne p {
        width: 100%;
        font-size: 18px;
        text-align: center;
    }
    button{
        display: block;
        font-size: 1.3rem;
        margin: auto;
    }
    main img {
        max-width: 95%;   
    }
    .brand{
        font-size: 2.4rem;
        width: 100%;
    }
    main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        min-width: 100%;
        max-width: 100%;
        height: 100%;
    }
    .sectionOne h1 {
        font-size: 3rem;
    }
    header {
        width: 100%;
        height: 5rem;
        padding: 0 1rem;
    }
    ul {
        display: none;
    }
    .logo {
        display: block;
        width: 4.4rem;
        max-height: 3.5rem;
    }
    .imgContainer h2 {
        font-size: 3rem;
        text-align: center;
    }
    .imgCon {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}


@media  (min-width:761px) and (max-width:1130px) {
    
    .container{
        padding: 5rem 8rem;
    }
    .sectionOne h1{
        font-size: 2.8rem;
        width: 100%;
    }
    .brand{
        font-size: 1.8rem ;
        width: 22%;
    }
    .sectionOne p{
        width: 90%;
        font-size: 1.7rem;
    }
    main img{
        width: 38vw;
        max-height: 28rem;
        margin-left: 40px;
    }
    main{
        min-height: 25rem;
        max-height: 30rem;
        min-width: 100%;
    }
    header{
        min-width: 85%;
        height: 5rem;
    }
}

@media (min-width:1131px) and (max-width:1440px) {
    .container{
        overflow-x: hidden;
        padding: 0 16rem;
    }
    .sectionOne h1 {
        font-size: 3rem;
        min-width: 90%;
    }
    .sectionOne {
        min-width: 60%;
        min-height: 100%;
        margin-right: 9rem;
    }
    .brand {
        font-size: 2.4rem;
        min-width: 30%;
    }
    .sectionOne p {
        width: 90%;
        font-size: 2.2rem;
    }
    main img {
        max-width: 27vw;
        max-height: 30em;
        margin-left: 2rem;
    }
    header {
        min-width: 70%;
        height: 5rem;
    }
    
}

 @media (min-width:1441px) {
    main {
        min-width: 90%;
        margin: 3rem;
    }
    .sectionOne h1 {
        font-size: 3rem;
        min-width: 90%;
    }
    main img {
        max-width: 39rem;
        max-height: 30em;
    }
    header {
        width: 55%;
        height: 5rem;
    }
    .imgCon img {
        min-width: 17vw;
        max-width: 25vw;
        margin: 0 0.5rem;
    }
    .imgContainer h2{
        margin: 2rem  1rem;
    }
 }
